# dependencies
node_modules/

# expo
.expo/
dist/
web-build/

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Native project folders (for CNG/Prebuild)
android/
ios/

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# cursor    
.cursor/

# supabase
supabase/

# bolt
.bolt/
mcp.json
.cursor/mcp.json

# typescript
*.tsbuildinfo
